# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so

# Environment Variables
.env
.env.local

# Uploads and Temporary files
uploads/
temp_*/

# Database
*.db
*.sqlite3

# IDE specific files
.vscode/
.idea/

# Poppler files
poppler*/
poppler-*/

# System files
.DS_Store
Thumbs.db

# Render specific
/tmp/